body {
  padding: 50px;
  font: 14px "Patua One", Helvetica, Arial, sans-serif;
  background-color: black;
}

a {
  color: #00B7FF;
}

.author {
  font-size: 15px;
}

/*.tall {
  background-size: 100% 100%;
}*/

.siteTitle {
  font-size: 50px;
  color: white;
}

.siteTitle:link {
  color: white;
}

.siteTitle:visited {
  color: white;
}

.glyphicon-thumbs-up {
  cursor: pointer
}

.white {
  color: white;
}

.addComment {
  margin-top: 30px;
}

.comments {
  font-size:20px;
  margin-left:10px;
  color: white;
}

.addPost {
  margin-top:30px;
}

.postTitle {
  font-size:20px;
  margin-left:10px;
}
